<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Quote Machine</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <div class="container">
        <div class="quote">
            <p id="text" class="quote__text"></p>
            <p id="author" class="quote__author"></p>
        </div>
        <div id="btnArea" class="btn-area">
            <button id="new" class="btn-area__new">
                New Quote
            </button>
            <button id="tweet" class="btn-area__tweet">
                <img src="/img/twitter.png" />
            </button>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>
